@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  height: 100%;
  .content-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: nb-theme(color-basic-500);
    font-weight: 500;
    &-icon {
      padding: 1rem;
      nb-icon {
        font-size: 8rem;
      }
    }
  }
}
