<div class="team d-flex align-items-center" [ngClass]="{ selected: selected }">
  <div class="details px-3 py-auto" (click)="selectTeam()">
    <div class="title">
      {{ team.name }}
    </div>
    <div *ngIf="team.description" class="description">{{ team.description }}</div>
  </div>
</div>
