@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  .team {
    height: 3.75rem;
    background-color: nb-theme(background-basic-color-1);
    border-bottom: 1px solid nb-theme(border-basic-color-4);
    .details {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      .title {
        font-size: 0.9rem;
      }
      .description {
        opacity: 0.5;
        font-size: 0.8rem;
      }
    }
    &.selected {
      background-color: nb-theme(background-basic-color-2);
      .title {
        color: nb-theme(color-primary-500);
      }
    }
  }
}
