<team-tasks-container>
  <team-tasks-container-header>
    <team-tasks-page-header pageTitle="Projekty">
      <team-tasks-page-header-actions>
        <button
          type="button"
          size="small"
          nbPopover="Nowy projekt"
          nbPopoverPlacement="bottom"
          nbPopoverTrigger="hint"
          routerLink="../create"
          nbButton
          ghost
        >
          <nb-icon icon="plus"></nb-icon>
        </button>
      </team-tasks-page-header-actions>
    </team-tasks-page-header>
  </team-tasks-container-header>
  <team-tasks-container-content>
    <div class="row no-gutters h-100">
      <div class="col-4 projects-list">
        <team-tasks-projects-list-container [loading]="loading$ | async">
          <team-tasks-project-item
            *ngFor="let project of projects$ | async"
            [project]="project"
            [selected]="isProjectSelected(project._id)"
            [tasksQty]="countTasks(project._id)"
            (selection)="onSelect(project._id)"
            (edit)="onEdit(project._id)"
            (delete)="onDelete(deleteDialog, project)"
            (share)="onShare(project)"
            (makePrivate)="onMakePrivate(makePrivateDialog, project)"
          ></team-tasks-project-item>
        </team-tasks-projects-list-container>
      </div>
      <div class="col-8 h-100">
        <team-tasks-project-tasks></team-tasks-project-tasks>
      </div>
    </div>
  </team-tasks-container-content>
</team-tasks-container>

<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Usuń projekt</nb-card-header>
    <nb-card-body>
      <span>
        Czy na pewno chcesz usunąć <strong>{{ data }}</strong> wraz z wszystkimi zadaniami?
      </span>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="mr-2" (click)="ref.close()">Anuluj</button>
      <button nbButton status="danger" (click)="ref.close(true)">Usuń</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #makePrivateDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Usuń projekt</nb-card-header>
    <nb-card-body>
      <span>
        Czy na pewno chcesz zmienić projekt <strong>{{ data }}</strong> na prywatny?
      </span>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="basic" class="mr-2" (click)="ref.close()">Anuluj</button>
      <button nbButton status="primary" (click)="ref.close(true)">Zmień</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
