<nb-card>
  <nb-card-header>Dodawanie członka zespołu</nb-card-header>
  <nb-card-body>
    <form [formGroup]="formGroup">
      <team-tasks-input formControlName="email" placeholder="Podaj adres e-mail nowego członka zespołu"></team-tasks-input>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="basic" class="mr-2" (click)="close()">Anuluj</button>
    <button nbButton status="primary" (click)="submit()" [disabled]="formGroup.invalid">Wyślij zaproszenie</button>
  </nb-card-footer>
</nb-card>
