<nb-card>
  <nb-card-header>Zaproszenia do zespołów</nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="invitations$ | async as invitations; else noInvitations">
      <nb-list>
        <nb-list-item *ngFor="let team of invitations">
          <div class="d-flex justify-content-between">
            <div class="name align-self-center">
              {{ team.name }}
            </div>
            <div class="actions d-flex">
              <div class="action accept">
                <button
                  (click)="acceptInvitation(team._id)"
                  type="button"
                  status="success"
                  size="small"
                  nbPopover="Akceptuj"
                  nbPopoverPlacement="bottom"
                  nbPopoverTrigger="hint"
                  nbButton
                  ghost
                >
                  <nb-icon icon="checkmark-outline"></nb-icon>
                </button>
              </div>
              <div class="action ignore">
                <button
                  (click)="ignoreInvitation(team._id)"
                  type="button"
                  status="danger"
                  size="small"
                  nbPopover="Ignoruj"
                  nbPopoverPlacement="bottom"
                  nbPopoverTrigger="hint"
                  nbButton
                  ghost
                >
                  <nb-icon icon="close-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
      <ng-container *ngIf="!invitations.length" [ngTemplateOutlet]="noInvitations"></ng-container>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton class="mr-2" (click)="close()">Zamknij</button>
  </nb-card-footer>
</nb-card>

<ng-template #noInvitations>
  <span class="p-2">Brak dostępnych zaproszeń do zespołów.</span>
</ng-template>
