@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  .task {
    background-color: nb-theme(background-basic-color-1);
    border-bottom: 1px solid nb-theme(border-basic-color-4);
    &.selected {
      color: nb-theme(color-primary-500);
      background-color: nb-theme(background-basic-color-2);
    }
    .name {
      width: 100%;
      cursor: pointer;
    }
  }
}
