<div class="d-flex align-items-center task" [ngClass]="{ selected: selected }" [formGroup]="taskFormGroup">
  <div class="state py-3 pl-3">
    <team-tasks-task-checkbox formControlName="state"></team-tasks-task-checkbox>
  </div>
  <div class="name p-3" (click)="selectTask()">
    {{ task.name }}
  </div>
  <div class="py-3 pr-3">
    <team-tasks-task-priority-star formControlName="priority"></team-tasks-task-priority-star>
  </div>
</div>
