@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  $bg: #fff;

  label {
    display: inline-block;
    color: nb-theme(color-primary-500);
    cursor: pointer;
    position: relative;
    margin-bottom: 0;

    span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 25px;
      height: 25px;
      transform-origin: center;
      border: 2px solid nb-theme(color-primary-500);
      border-radius: 50%;
      vertical-align: -6px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);

      &:before {
        content: '';
        width: 0px;
        height: 2px;
        border-radius: 2px;
        background: nb-theme(color-primary-500);
        position: absolute;
        transform: rotate(45deg);
        top: 11px;
        left: 7px;
        transition: width 50ms ease 50ms;
        transform-origin: 0% 0%;
      }

      &:after {
        content: '';
        width: 0;
        height: 2px;
        border-radius: 2px;
        background: nb-theme(color-primary-500);
        position: absolute;
        transform: rotate(305deg);
        top: 14px;
        left: 9px;
        transition: width 50ms ease;
        transform-origin: 0% 0%;
      }
    }

    &:hover {
      span {
        &:before {
          width: 5px;
          transition: width 100ms ease;
        }

        &:after {
          width: 10px;
          transition: width 150ms ease 100ms;
        }
      }
    }
  }

  input[type='checkbox'] {
    display: none;

    &:checked {
      + span {
        background-color: nb-theme(color-primary-500);
        transform: scale(1);

        &:after {
          width: 10px;
          background: $bg;
          transition: width 150ms ease 100ms;
        }

        &:before {
          width: 5px;
          background: $bg;
          transition: width 150ms ease 100ms;
        }
      }

      &:hover {
        + span {
          background-color: nb-theme(color-primary-500);
          transform: scale(1.1);

          &:after {
            width: 10px;
            background: $bg;
            transition: width 150ms ease 100ms;
          }

          &:before {
            width: 5px;
            background: $bg;
            transition: width 150ms ease 100ms;
          }
        }
      }
    }
  }
}
