@import '../../styles/themes.scss';

@include nb-install-component() {
  color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .logout-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    &:hover {
      background-color: nb-theme(color-primary-500);
    }
  }
}
