<div class="container">
  <div class="row">
    <div class="col p-3" nbTooltip="Zobacz profil" nbTooltipPlacement="top" *ngIf="profile$ | async as profile">
      <nb-user [name]="profile.name" size="small" shape="rectangle"></nb-user>
    </div>
    <div class="col-auto p-3 logout-button" (click)="logout()" nbTooltip="Wyloguj" nbTooltipPlacement="right">
      <nb-icon icon="log-out-outline"></nb-icon>
    </div>
  </div>
</div>
