$sidebar-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
:host {
  background-color: white;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  min-width: 300px;
  z-index: 10;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: $sidebar-shadow;
  -moz-box-shadow: $sidebar-shadow;
  box-shadow: $sidebar-shadow;
}
