<team-tasks-layout *ngIf="{ isAuthenticated: isAuthenticated$ | async } as data">
  <nb-menu [items]="data && data.isAuthenticated ? userMenuItems : guestMenuItems"></nb-menu>
  <router-outlet></router-outlet>
</team-tasks-layout>
