.side-background {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1525095182007-3874c4e2b38b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.content-form {
  background-color: #ffffff;
  padding: 3rem;
}
