<div class="row no-gutters">
  <div class="col-4 side-background"></div>
  <div class="col-8 content-form">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 id="title" class="title">Logowanie</h1>
          <p class="sub-title">Witaj! Zaloguj się przy pomocy nazwy użytkownika.</p>

          <!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
              <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            </ul>
          </nb-alert>

          <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
              <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
            </ul>
          </nb-alert> -->

          <form [formGroup]="loginForm">
            <div class="form-group">
              <label class="label" for="username">Nazwa użytkownika</label>
              <input
                nbInput
                fullWidth
                formControlName="username"
                id="username"
                placeholder="Nazwa użytkownika"
                fieldSize="large"
                autofocus
              />
              <!-- [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''" -->
              <!-- <ng-container *ngIf="email.invalid && email.touched">
                    <p class="caption status-danger" *ngIf="email.errors?.required">
                      Email is required!
                    </p>
                    <p class="caption status-danger" *ngIf="email.errors?.pattern">
                      Email should be the real one!
                    </p>
                  </ng-container> -->
            </div>

            <div class="form-group">
              <!-- <span class="label-with-link"> -->
              <label class="label" for="password">Hasło</label>
              <!-- <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a> -->
              <!-- </span> -->
              <input
                nbInput
                fullWidth
                formControlName="password"
                id="password"
                type="password"
                placeholder="Hasło"
                fieldSize="large"
                minlength="5"
                maxlength="30"
              />
              <!-- [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" -->
              <!-- <ng-container *ngIf="password.invalid && password.touched">
                    <p class="caption status-danger" *ngIf="password.errors?.required">
                      Password is required!
                    </p>
                    <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                      Password should contain from 5 to 30 characters!
                    </p>
                  </ng-container> -->
            </div>

            <!-- <div class="formgroup accept-group">
              <nb-checkbox formControlName="rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
            </div> -->

            <button
              nbButton
              fullWidth
              status="primary"
              size="large"
              class="mt-1"
              (click)="login()"
              [disabled]="submitted || loginForm.invalid"
              [class.btn-pulse]="submitted"
            >
              Zaloguj
            </button>
          </form>

          <section class="pt-4 muted">Nie masz konta? <a class="text-link" routerLink="../register">Rejestracja</a></section>
        </div>
      </div>
    </div>
  </div>
</div>
