@import '../../styles/themes.scss';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    .logo {
      cursor: pointer;
      h5 {
        color: white;
      }
    }

    nb-icon {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }
}
