<div class="header-container">
  <div class="logo-container">
    <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->
    <a class="logo" (click)="navigateHome()">
      <h5><nb-icon icon="checkmark-circle"></nb-icon><span class="logo-text">TeamTasks</span></h5>
    </a>
  </div>
</div>
