.side-background {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-form {
  background-color: #ffffff;
  padding: 3rem;
}
