<div class="row no-gutters">
  <div class="col-4 side-background"></div>
  <div class="col-8 content-form">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 id="title" class="title">Rejestracja</h1>
          <p class="sub-title">Utwórz własne konto i planuj projekty razem z zespołem.</p>

          <form [formGroup]="loginForm">
            <div class="form-group">
              <label class="label" for="username">Nazwa użytkownika</label>
              <input
                nbInput
                fullWidth
                formControlName="username"
                id="username"
                placeholder="Nazwa użytkownika"
                fieldSize="large"
                autofocus
              />
            </div>

            <div class="form-group">
              <label class="label" for="name">Imię i Nazwisko</label>
              <input
                nbInput
                fullWidth
                formControlName="name"
                id="name"
                placeholder="Imię i Nazwisko"
                fieldSize="large"
                autofocus
              />
            </div>

            <div class="form-group">
              <label class="label" for="email">E-mail</label>
              <input nbInput fullWidth formControlName="email" id="email" placeholder="E-mail" fieldSize="large" autofocus />
            </div>

            <div class="form-group">
              <label class="label" for="password">Hasło</label>
              <input
                nbInput
                fullWidth
                formControlName="password"
                id="password"
                type="password"
                placeholder="Hasło"
                fieldSize="large"
                minlength="5"
                maxlength="30"
              />
            </div>

            <button
              nbButton
              fullWidth
              status="primary"
              size="large"
              class="mt-1"
              (click)="login()"
              [disabled]="submitted || loginForm.invalid"
              [class.btn-pulse]="submitted"
            >
              Zarejestruj się
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
