<team-tasks-page-header pageTitle="Edycja danych projektu">
  <team-tasks-page-header-additional-actions>
    <button
      type="button"
      size="small"
      nbPopover="Wróć do listy"
      nbPopoverPlacement="bottom"
      nbPopoverTrigger="hint"
      (click)="redirectToList()"
      ghost
      nbButton
    >
      <nb-icon icon="arrow-ios-back"></nb-icon>
    </button>
  </team-tasks-page-header-additional-actions>
</team-tasks-page-header>

<form [formGroup]="formGroup">
  <nb-card class="m-3">
    <nb-card-header>
      <team-tasks-input formControlName="name" placeholder="Nazwa projektu" size="large"></team-tasks-input>
    </nb-card-header>
    <nb-card-body>
      <team-tasks-input formControlName="description" placeholder="Opis"></team-tasks-input>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" (click)="submit()" [nbSpinner]="processing$ | async" nbSpinnerStatus="primary" nbButton>
        Zapisz
      </button>
    </nb-card-footer>
  </nb-card>
</form>
