<nb-layout>
  <nb-sidebar tag="left" left>
    <div class="d-flex flex-column h-100">
      <div class="mb-auto">
        <team-tasks-sidebar-header></team-tasks-sidebar-header>
        <ng-content select="nb-menu"></ng-content>
      </div>
      <team-tasks-sidebar-footer *ngIf="isAuthenticated$ | async"></team-tasks-sidebar-footer>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
</nb-layout>
