nb-layout ::ng-deep nb-sidebar {
  &.compacted {
    .logo-container {
      nb-icon {
        margin-right: 0 !important;
        font-size: 2rem !important;
      }
      .logo-text {
        display: none;
      }
    }
    nb-menu .menu-item .menu-icon {
      margin: 0;
    }
  }
}
