<div
  *ngIf="showContent || loading; else emptyTasksListPlaceholder"
  [nbSpinner]="loading"
  nbSpinnerSize="large"
  nbSpinnerStatus="primary"
>
  <ng-content></ng-content>
</div>

<ng-template #emptyTasksListPlaceholder>
  <team-tasks-content-placeholder [text]="emptyPlaceholderText" [icon]="emptyPlaceholderIcon"></team-tasks-content-placeholder>
</ng-template>
