@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  label {
    display: inline-block;
    color: nb-theme(color-primary-500);
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
  }

  input[type='checkbox'] {
    display: none;
  }
}
