<div
  class="d-flex align-items-center p-3 task-create"
  [formGroup]="createTaskFormGroup"
  (keydown.enter)="submit()"
  [nbSpinner]="loading"
  nbSpinnerSize="large"
  nbSpinnerStatus="primary"
>
  <div class="name w-100">
    <team-tasks-input formControlName="name" placeholder="Co chcesz zrobić?"></team-tasks-input>
  </div>
  <!-- <div class="add-button ml-2">
    <button nbButton (click)="submit()"><nb-icon icon="plus-outline"></nb-icon></button>
  </div> -->
</div>
