@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  .task-create {
    background-color: nb-theme(background-basic-color-1);
    border-bottom: 1px solid nb-theme(border-basic-color-4);
  }
}
