@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  .project {
    height: 3.75rem;
    background-color: nb-theme(background-basic-color-1);
    border-bottom: 1px solid nb-theme(border-basic-color-4);
    .details {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      .title {
        font-size: 0.9rem;
        .task-count {
          padding-left: 0.3rem;
          font-size: 0.5;
          font-weight: normal;
          opacity: 0.4;
        }
      }
      .description {
        opacity: 0.5;
        font-size: 0.8rem;
      }
    }
    .actions {
      display: flex;
      padding-right: 0.5rem;
      .action {
        padding: 0 0.2rem;
        opacity: 0.25;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        &.delete:hover {
          color: nb-theme(color-danger-500);
          opacity: 1;
        }
        &.edit:hover {
          color: nb-theme(color-primary-700);
          opacity: 1;
        }
      }
    }
    &.selected {
      background-color: nb-theme(background-basic-color-2);
      .title {
        color: nb-theme(color-primary-500);
      }
    }
  }
}
