<div class="project d-flex align-items-center" [ngClass]="{ selected: selected }">
  <div class="details px-3 py-auto" (click)="selectProject()">
    <div class="title">
      <nb-icon [icon]="isProjectShared ? 'people-outline' : 'person-outline'"></nb-icon> {{ project.name }}
      <span class="task-count" *ngIf="tasksQty > 0">{{ tasksQty }}</span>
    </div>
    <div class="description" *ngIf="selected">{{ project.description }}</div>
  </div>
  <div class="actions" *ngIf="selected">
    <div
      *ngIf="!isProjectShared"
      class="action share"
      (click)="emitShare()"
      nbPopover="Współdziel projekt"
      nbPopoverPlacement="top"
      nbPopoverTrigger="hint"
    >
      <nb-icon icon="person-add-outline"></nb-icon>
    </div>
    <div
      *ngIf="isProjectShared"
      class="action share"
      (click)="emitMakePrivate()"
      nbPopover="Zmień na projekt prywatny"
      nbPopoverPlacement="top"
      nbPopoverTrigger="hint"
    >
      <nb-icon icon="person-outline"></nb-icon>
    </div>
    <div class="action edit" (click)="emitEdit()">
      <nb-icon icon="edit-2-outline"></nb-icon>
    </div>
    <div class="action delete" (click)="emitDelete()">
      <nb-icon icon="trash-outline"></nb-icon>
    </div>
  </div>
</div>
