@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  .task-property-label {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
    color: nb-theme(color-basic-600);
  }
  .project {
    nb-select {
      width: 100%;
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    .action {
      padding: 1rem;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
      &.delete {
        color: nb-theme(color-danger-500);
      }
      &.edit:hover {
        color: nb-theme(color-primary-700);
      }
    }
  }
}
