<form [formGroup]="editTaskFormGroup">
  <div class="row no-gutters">
    <div class="col-auto d-flex align-items-center ml-1 mr-3">
      <team-tasks-task-checkbox formControlName="completed"></team-tasks-task-checkbox>
    </div>
    <div class="col">
      <team-tasks-input formControlName="name" placeholder="Nazwa"></team-tasks-input>
    </div>
  </div>
  <div class="mt-2" *ngIf="canSaveName$ | async">
    <button type="button" class="mt-2" (click)="updateTask()" nbButton fullWidth>
      Zapisz
    </button>
  </div>
  <div class="mt-2 project">
    <div class="task-property-label">Projekt</div>
    <nb-select placeholder="Wybierz projekt" formControlName="project" [fullWidth]="true">
      <nb-option *ngFor="let project of projects" [value]="project._id">{{ project.name }}</nb-option>
    </nb-select>
  </div>
  <div class="actions mt-2">
    <div class="action priority">
      <team-tasks-task-priority-star
        formControlName="priority"
        nbPopover="Priorytety"
        nbPopoverTrigger="hint"
      ></team-tasks-task-priority-star>
    </div>
    <div class="action delete" (click)="deleteTask(deleteDialog)">
      <nb-icon icon="trash-outline" nbPopover="Usuń" nbPopoverTrigger="hint"></nb-icon>
    </div>
  </div>
</form>

<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Usuwanie zadania</nb-card-header>
    <nb-card-body>
      <span>Czy na pewno chcesz usunąć </span>
      <span>
        <strong>{{ data }}</strong>
      </span>
      <span>?</span>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="mr-2" (click)="ref.close()">Anuluj</button>
      <button nbButton status="danger" (click)="ref.close(true)">Usuń</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
