<ng-container *ngIf="showTaskList; else notSelectedProject">
  <div class="project-task-create">
    <team-tasks-task-create (newTask)="createNewProjectTask($event)"></team-tasks-task-create>
  </div>
  <team-tasks-project-tasks-list></team-tasks-project-tasks-list>
</ng-container>

<ng-container *ngIf="{ sidebarState: sidebarState$ | async } as data">
  <team-tasks-task-sidebar [@sidebarOpenClosed]="data.sidebarState" *ngIf="data.sidebarState === 'open'">
    <team-tasks-project-tasks-edit></team-tasks-project-tasks-edit>
  </team-tasks-task-sidebar>
</ng-container>

<ng-template #notSelectedProject>
  <team-tasks-content-placeholder
    icon="checkmark-circle"
    text="Wybierz projekt aby zobaczyć zadania"
  ></team-tasks-content-placeholder>
</ng-template>
