<div class="header-container d-flex justify-content-between p-2">
  <div class="container-actions-additional">
    <ng-content select="team-tasks-page-header-additional-actions"></ng-content>
  </div>
  <div class="container-title d-flex align-items-center">
    {{ pageTitle }}
  </div>
  <div class="container-actions">
    <ng-content select="team-tasks-page-header-actions"></ng-content>
  </div>
</div>
