<team-tasks-container>
  <team-tasks-container-header>
    <team-tasks-page-header pageTitle="Zespoły">
      <team-tasks-page-header-actions>
        <button
          (click)="showInvitations()"
          type="button"
          size="small"
          nbPopover="Zaproszenia"
          nbPopoverPlacement="bottom"
          nbPopoverTrigger="hint"
          nbButton
          ghost
        >
          <nb-icon icon="email-outline"></nb-icon> <strong *ngIf="teamInvitationsCount$ | async as count">{{ count }}</strong>
        </button>
        <button
          (click)="createTeam()"
          type="button"
          size="small"
          nbPopover="Utwórz zespół"
          nbPopoverPlacement="bottom"
          nbPopoverTrigger="hint"
          nbButton
          ghost
        >
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
      </team-tasks-page-header-actions>
    </team-tasks-page-header>
  </team-tasks-container-header>
  <team-tasks-container-content
    ><div class="row no-gutters h-100">
      <div class="col-4 teams-list">
        <team-tasks-teams-list-container [loading]="loading$ | async">
          <team-tasks-team-item
            *ngFor="let team of teams$ | async"
            [team]="team"
            [selected]="isTeamSelected(team._id)"
            (selection)="onSelect(team._id)"
          ></team-tasks-team-item>
        </team-tasks-teams-list-container>
      </div>
      <div class="col-8 h-100">
        <team-tasks-team-details></team-tasks-team-details>
      </div>
    </div>
  </team-tasks-container-content>
</team-tasks-container>
