@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  height: 100%;
  .teams-list {
    height: 100%;
    border-right: 1px solid nb-theme(border-basic-color-5);
  }
}
