@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

// https://akveo.github.io/nebular/docs/design-system/default-theme

$nb-themes: nb-register-theme(
  (
    layout-padding: 0,
    header-height: 0,
    sidebar-background-color: nb-theme(color-primary-default),
    sidebar-padding: 0,
    sidebar-menu-item-highlight-color: #ffffff,
    menu-item-icon-margin: 0 0.35rem 0 0,
    menu-text-color: rgba(255, 255, 255, 0.75),
    menu-item-icon-color: rgba(255, 255, 255, 0.75),
    menu-item-active-text-color: #ffffff,
    menu-item-active-background-color: rgba(255, 255, 255, 0.075),
    menu-item-icon-active-color: #ffffff,
    menu-item-hover-text-color: rgb(255, 255, 255),
    menu-item-hover-background-color: rgba(255, 255, 255, 0.1),
    menu-item-icon-hover-color: #ffffff,
    menu-item-divider-width: 0,
    user-initials-text-color: #ffffff,
    user-name-text-color: #ffffff,
    page-header-height: 55px
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3
  ),
  dark,
  dark
);
