<div class="sidebar-header d-flex p-2">
  <div class="hide-sidebar mr-1">
    <button
      type="button"
      size="small"
      nbPopover="Ukryj"
      nbPopoverPlacement="bottom"
      nbPopoverTrigger="hint"
      (click)="emitHide()"
      ghost
      nbButton
    >
      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
    </button>
  </div>
  <div class="container-title d-flex align-items-center">
    Edycja zadania
  </div>
</div>

<div class="sidebar-body">
  <ng-content></ng-content>
</div>
