@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  .sidebar-header {
    height: nb-theme(page-header-height);
    background-color: nb-theme(background-basic-color-1);
    border-bottom: 1px solid nb-theme(border-basic-color-5);
    .container-title {
      font-weight: bold;
    }
  }
  .sidebar-body {
    padding: 1rem;
  }
}
