<ng-container *ngIf="showTeamDetails; else teamNotSelected">
  <div class="body p-4" *ngIf="team$ | async as team">
    <div class="row no-gutters">
      <div class="col">
        <h3 class="name">
          {{ team.name }}
        </h3>
        <div class="description" *ngIf="team.description">
          {{ team.description }}
        </div>
      </div>
      <div class="col-auto">
        <div class="actions">
          <button
            *ngIf="isUserOwner$ | async"
            (click)="addTeamMember(team._id)"
            type="button"
            nbPopover="Dodaj członka zespołu"
            nbPopoverPlacement="bottom"
            nbPopoverTrigger="hint"
            nbButton
            ghost
          >
            <nb-icon icon="person-add-outline"></nb-icon>
          </button>
          <button
            *ngIf="isUserOwner$ | async"
            (click)="editTeam(team._id)"
            type="button"
            nbPopover="Edytuj dane zespołu"
            nbPopoverPlacement="bottom"
            nbPopoverTrigger="hint"
            nbButton
            ghost
          >
            <nb-icon icon="edit-2-outline"></nb-icon>
          </button>
          <button
            *ngIf="isUserOwner$ | async"
            (click)="deleteTeam(team, deleteDialog)"
            type="button"
            status="danger"
            nbPopover="Usuń zespół"
            nbPopoverPlacement="bottom"
            nbPopoverTrigger="hint"
            nbButton
            ghost
          >
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
          <button
            *ngIf="isUserMember$ | async"
            (click)="leaveTeam(team._id)"
            type="button"
            status="danger"
            nbPopover="Opuść zespół"
            nbPopoverPlacement="bottom"
            nbPopoverTrigger="hint"
            nbButton
            ghost
          >
            <nb-icon icon="log-out-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 mb-2">
        <h6>Członkowie zepsołu</h6>
      </div>
      <div class="col-12">
        <nb-list>
          <nb-list-item> {{ team.owner.name }} <span class="owner-text">Właściciel</span> </nb-list-item>
          <nb-list-item *ngFor="let member of team.members">
            <div class="d-flex justify-content-between">
              <div class="align-self-center">
                {{ member.name }}
              </div>
              <div class="actions d-flex" *ngIf="isUserOwner$ | async">
                <div class="action ignore">
                  <button
                    (click)="deleteTeamMember(member._id)"
                    type="button"
                    status="danger"
                    size="small"
                    nbPopover="Usuń z zespołu"
                    nbPopoverPlacement="top"
                    nbPopoverTrigger="hint"
                    nbButton
                    ghost
                  >
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                </div>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #teamNotSelected>
  <team-tasks-content-placeholder icon="people-outline" text="Wybierz zespół"></team-tasks-content-placeholder>
</ng-template>

<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Usuń zespół</nb-card-header>
    <nb-card-body>
      <span>
        Czy na pewno chcesz usunąć zespół <strong>{{ data }}</strong
        >? Wszystkie projekty zmienią się z zespołowych na prywatne.
      </span>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="mr-2" (click)="ref.close()">Anuluj</button>
      <button nbButton status="danger" (click)="ref.close(true)">Usuń</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
