@import 'libs/app/ui/layout/src/lib/styles/themes.scss';

@include nb-install-component() {
  height: 100%;

  .body {
    background-color: nb-theme(background-basic-color-2);
    height: 100%;
  }
  .name {
    color: nb-theme(color-primary-500);
  }

  .description {
    color: nb-theme(text-hint-color);
  }
  .owner-text {
    font-size: 0.8rem;
    color: nb-theme(color-primary-400);
    font-weight: bolder;
  }
}
