<team-tasks-container>
  <team-tasks-container-header>
    <team-tasks-page-header pageTitle="Skrzynka odbiorcza"></team-tasks-page-header>
    <team-tasks-inbox-task-create></team-tasks-inbox-task-create>
  </team-tasks-container-header>
  <team-tasks-container-content>
    <team-tasks-inbox-tasks-list></team-tasks-inbox-tasks-list>
  </team-tasks-container-content>
</team-tasks-container>

<ng-container *ngIf="{ sidebarState: sidebarState$ | async } as data">
  <team-tasks-task-sidebar [@sidebarOpenClosed]="data.sidebarState" *ngIf="data.sidebarState === 'open'">
    <team-tasks-inbox-task-edit></team-tasks-inbox-task-edit>
  </team-tasks-task-sidebar>
</ng-container>
