<nb-card>
  <nb-card-header>Wybierz zespół</nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="teams$ | async as teams; else noTeams">
      <nb-list>
        <nb-list-item *ngFor="let team of teams">
          <div class="d-flex justify-content-between">
            <div class="name align-self-center">
              {{ team.name }}
            </div>
            <div class="actions d-flex">
              <div class="action accept">
                <button
                  (click)="selectTeam(team._id)"
                  type="button"
                  status="success"
                  size="small"
                  nbPopover="Współdziel projekt"
                  nbPopoverPlacement="bottom"
                  nbPopoverTrigger="hint"
                  nbButton
                  ghost
                >
                  <nb-icon icon="arrow-forward-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
      <ng-container *ngIf="!teams.length" [ngTemplateOutlet]="noTeams"></ng-container>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton class="mr-2" (click)="close()">Zamknij</button>
  </nb-card-footer>
</nb-card>

<ng-template #noTeams>
  <span class="p-2">Brak dostępnych zespołów.</span>
</ng-template>
